<p>shopping-list works!</p>


<button class="btn btn-primary" (click)="onlyOdd=!onlyOdd">Change numbers</button>
<div *ngIf="onlyOdd">

  <ul class="list-group">
    <li
        [ngStyle]="{backgroundColor:number % 2? 'yellow':'transparent'
         }"
        [ngClass]="{odd:number % 2 !== 0 }"
    *ngFor="let number of oddnumbers"
    >{{number}}</li>
  </ul>

</div>
<div *ngIf="!onlyOdd"

>

  <ul class="list-group">
    <li *ngFor="let number of evennumbers"
        [ngStyle]="{backgroundColor:number % 2!==0? 'transparent':'red'
         }"

        >{{number}}</li>
  </ul>

</div>
<p basicHighlight>This paragraph os changed by custom directives</p>
<p [appBetterHighlight]="'magenta'" defaultColor="yellow" highlightColor="magenta">This is custom directive</p>

